<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Bootstrap core CSS -->

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css'   %}" rel="stylesheet">
  <link href="{% static 'css/sidebar.css'   %}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <script src="https://kit.fontawesome.com/d3c7d7c7f2.js" crossorigin="anonymous"></script>
    <!-- fontawesome css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- owl carousel css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script>
        function openNav() {

    document.getElementById("myNav").style.width = "100%";
    document.getElementById('carcar').style.width = "0";

}
/* Close when someone clicks on the "x" symbol inside the overlay */
        function closeNav() {

  document.getElementById("myNav").style.width = "0%";
  document.getElementById('carcar').style.width = "100%";
}</script>
    <title>{% block title %}{% endblock %}</title>
<style>
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}</style>
</head>
<body>
<!-- Navigation -->
<div class="container-fluid p-0" style="position: absolute; top: 0px">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 px-0">
                        <div class="d-flex justify-content-between py-1 text-white">
                            <div class="left-top-bar">
                                <span><i class="fa fa-phone-square mr-2" aria-hidden="true"></i></span><span>28-36-65</span>
                                <span class="mx-2">|</span><span><i class="fa fa-envelope mr-2" aria-hidden="true"></i></span><span>fuck you@gmail.com</span>
                            </div>
                            <div class="right-top-bar">
                                <span><i class="fa fa-map-marker mr-2" aria-hidden="true"></i></span><span>Zhopa</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark " style="top: 30px">
    <div class="container p-0">
      <a class="navbar-brand" href="index.html">Гимназия №3</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                О Гимназии
            </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAbout">
              <a class="dropdown-item" href="{% url 'about' %}">Сведения об ОО</a>
              <a class="dropdown-item" href="{% url 'Team' %}">Команда</a>
              <a class="dropdown-item" href="{% url 'Gallery' %}">Галерея</a>
              <a class="dropdown-item" href="{% url 'History' %}">История гимназии</a>
              <a class="dropdown-item" href="{% url 'SMI' %}">СМИ о Нас</a>
              <a class="dropdown-item" href="{% url 'contact' %}">Контакты</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEducation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Образование
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownEducation">
              <a class="dropdown-item" href="{% url 'Obr_model' %}" style="text-align: center">Образовательная модель</a>
              <a class="dropdown-item" href="{% url 'Obr_stand' %}" style="text-align: center">Образовательные стандарты</a>
              <a class="dropdown-item" href="{% url 'Dop_obraz' %}" style="text-align: center">Дополнительное образование</a>
              <a class="dropdown-item" href="{% url 'Mattex_obesp' %}" style="text-align: center">Материально-техническое <br> обеспечение гимназии</a>
              <a class="dropdown-item" href="{% url 'EGE_I_GIA' %}" style="text-align: center">ЕГЭ и ГИА</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmission" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Поступление
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAdmission">
              <a class="dropdown-item" href="portfolio-1-col.html">О поступлении</a>
              <a class="dropdown-item" href="portfolio-2-col.html">Итоги набора</a>
              <a class="dropdown-item" href="portfolio-3-col.html">Стипендиальный фонд<br> школы и оплата обучения</a>
              <a class="dropdown-item" href="portfolio-4-col.html">Ответы на вопросы</a>
              <a class="dropdown-item" href="portfolio-item.html">Рекомендации по подготовке<br> к поступлению</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Информация
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-4-col.html">Документы</a>
              <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="navbarNews" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Новости и события
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOnline" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Онлайн-сервисы
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownOnline">
              <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-4-col.html">Документы</a>
              <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
            </div>
          </li>
        </ul>
      </div>
        <button onclick="openNav()" class="fas fa fa-bars w3-xlarge" style = "color: #95999c; background-color: Transparent; background-repeat:no-repeat;
    border: none"></button>
    </div>
  </nav>


 {% block body-content %}
    {% endblock %}
<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
<div class="overlay-content"; style="text-align: left; color: #95999c; top: 15%" >
    <div class="divTable" >
	<div class="divTableBody">
		<div class="divTableRow">
			<div class="divTableCell">
                <a href="#"><h2 style="color: #95999c;">О гимназии</h2></a>
				<ul>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Сведения об образовательном учреждеии</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Команда</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Галерея</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">История гимназии</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">СМИ о нас</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Контакты</h4></a>
					</li>
				</ul>
			</div>
			<div class="divTableCell">
                <a href="#"><h2 style="color: #95999c;">Образование</h2></a>
				<ul>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Образовательная модель</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Образовательные стандарты</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Дополнительное образование</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Материально-техническое обеспечение гимназии</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">ЕГЭ и ГИА</h4></a>
					</li>
				</ul>
			</div>
			<div class="divTableCell">
                <a href="#"><h2 style="color: #95999c;">Поступление</h2></a>
				<ul>
					<li>
                        <a href="#"><h4 style="color: #95999c;">О поступлении</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Итоги набора</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Стипендиальный фонд школы и оплата обучения</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Ответы на вопросы</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Рекоммендации по подготовке к потуплению</h4></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="divTableRow">
			<div class="divTableCell">
				<h2 style="color: #95999c;">О гимназии</h2>
				<ul>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Сведения об образовательном учреждении</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Команда</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Галерея</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">История гимназии</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">СМИ о нас</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Контакты</h4></a>
					</li>
				</ul>
			</div>
			<div class="divTableCell">
                <a href="#"><h2 style="color: #95999c;">Образование</h2></a>
				<ul>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Образовательная модель</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Образовательные стандарты</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Дополнительное образование</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Материально-техническое обеспечение гимназии</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">ЕГЭ и ГИА</h4></a>
					</li>
				</ul>
			</div>
			<div class="divTableCell">
                <a href="#"><h2 style="color: #95999c;">Поступление</h2></a>
				<ul>
					<li>
                        <a href="#"><h4 style="color: #95999c;">О поступлении</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Итоги набора</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Стипендиальный фонд школы и оплата обучения</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Ответы на вопросы</h4></a>
					</li>
					<li>
                        <a href="#"><h4 style="color: #95999c;">Рекоммендации по подготовке к потуплению</h4></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</body>
</html>