<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Гимназия №3</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css'   %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css'   %}" rel="stylesheet">
  <link href="{% static 'css/sidebar.css'   %}" rel="stylesheet">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <script src="https://kit.fontawesome.com/d3c7d7c7f2.js" crossorigin="anonymous"></script>

    <script>

        function openNav() {

    document.getElementById("myNav").style.width = "100%";

}
/* Close when someone clicks on the "x" symbol inside the overlay */
        function closeNav() {

  document.getElementById("myNav").style.width = "0%";
}</script>
</head>
<body>
<!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Гимназия №3</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                О Гимназии
            </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAbout">
              <a class="dropdown-item" href="{% url 'about' %}">Сведения об ОО</a>
              <a class="dropdown-item" href="{% url 'Team' %}">Команда</a>
              <a class="dropdown-item" href="{% url 'Gallery' %}">Галерея</a>
              <a class="dropdown-item" href="{% url 'History' %}">История гимназии</a>
              <a class="dropdown-item" href="{% url 'SMI' %}">СМИ о Нас</a>
              <a class="dropdown-item" href="{% url 'contact' %}">Контакты</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEducation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Образование
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownEducation">
              <a class="dropdown-item" href="portfolio-1-col.html" style="text-align: center">Образовательная модель</a>
              <a class="dropdown-item" href="portfolio-2-col.html" style="text-align: center">Образовательные стандарты</a>
              <a class="dropdown-item" href="portfolio-3-col.html" style="text-align: center">Дополнительное образование</a>
              <a class="dropdown-item" href="portfolio-4-col.html" style="text-align: center">Материально-техническое <br> обеспечение гимназии</a>
              <a class="dropdown-item" href="portfolio-item.html" style="text-align: center">ЕГЭ и ГИА</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmission" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Поступление
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAdmission">
              <a class="dropdown-item" href="portfolio-1-col.html">О поступлении</a>
              <a class="dropdown-item" href="portfolio-2-col.html">Итоги набора</a>
              <a class="dropdown-item" href="portfolio-3-col.html">Стипендиальный фонд<br> школы и оплата обучения</a>
              <a class="dropdown-item" href="portfolio-4-col.html">Ответы на вопросы</a>
              <a class="dropdown-item" href="portfolio-item.html">Рекомендации по подготовке<br> к поступлению</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Информация
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-4-col.html">Документы</a>
              <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="navbarNews" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Новости и события
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOnline" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Онлайн-сервисы
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownOnline">
              <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-4-col.html">Документы</a>
              <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
            </div>
          </li>
        </ul>
      </div>
        <button onclick="openNav()" class="fas fa fa-bars w3-xlarge" style = "color: #95999c; background-color: Transparent; background-repeat:no-repeat;
    border: none"></button>
    </div>
  </nav>


 {% block body-content %}
    {% endblock %}
<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
<div class="overlay-content">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>

</div>
</body>
</html>